{% set node = record.getRootEntity().getNode() %}
{% set title = node.titles|localized_value %}
{% set link = app.request.uriForPath(node.localizedUrls|localized_value) %}

<h3 class="resource-library-article__title" title="{{ title }}">
    <a href="{{ link }}">
        {{- title -}}
    </a>
</h3>
<time class="resource-library-article__time" datetime="{{ node.createdAt|date("Y-m-d\\TH:i:s") }}">
    {{- node.createdAt|oro_format_time() }}
    | {{ node.createdAt|oro_format_date({'dateType': 2}) -}}
</time>
<div class="resource-library-article__description cms-typography">
    {{ record.getValue('shortDescription')|oro_html_sanitize }}
</div>
<a href="{{ link }}" class="resource-library-article__goto">
    {{ 'Watch Video'|trans }}
</a>
