{% set item = record.getRootEntity() %}
{% set title = item.node.titles|localized_value %}
{% set link = app.request.uriForPath(item.node.localizedUrls|localized_value) %}

<div class="resource-library-post">
    <div class="resource-library-post__head">
        <h3 class="resource-library-article__title">
            <a href="{{ link }}" title="{{ title }}">
                {{ title }}
            </a>
        </h3>
        <time class="resource-library-article__time" datetime="{{ item.newsAnnouncementsArticle.createdAt|date("Y-m-d\\TH:i:s") }}">
            {{- item.newsAnnouncementsArticle.createdAt|oro_format_time() }}
            | {{ item.newsAnnouncementsArticle.createdAt|oro_format_date({'dateType': 2}) -}}
        </time>
    </div>
    <div class="resource-library-post__content">
        <div class="resource-library-article__description cms-typography">
            {{ item.newsAnnouncementsArticle.shortDescription|oro_html_sanitize }}
        </div>
        <a href="{{ app.request.uriForPath(item.node.localizedUrls|localized_value) }}" class="resource-library-article__goto">
            {{- 'oro.resourcelibrary.newsannouncementsarticle.read_more'|trans -}}
        </a>
    </div>
    <a class="resource-library-post__image" href="{{ link }}">
        <picture class="resource-library-post__picture"
                 data-page-component-module="oroui/js/app/components/view-component"
                 data-page-component-options='{"view":"orofrontend/js/app/views/object-fit-polyfill-view"}'
        >
            {% if item.newsAnnouncementsArticle.image is not empty %}
                <source srcset="{{ filtered_image_url(item.newsAnnouncementsArticle.image , 'news_announcements_lists_small') }}"
                        media="(max-width: 414px)">
                <source srcset="{{ filtered_image_url(item.newsAnnouncementsArticle.image , 'news_announcements_lists_middle') }}"
                        media="(max-width: 767px)">
                <img src="{{ filtered_image_url(item.newsAnnouncementsArticle.image , 'news_announcements_lists') }}"
                     class="resource-library-post__img"
                     alt="{{ oro_file_title(item.newsAnnouncementsArticle.image) }}">
            {% else %}
                <img src="{{ asset('bundles/ororesourcelibrary/images/no_image.png') }}" alt="{{ item.node.titles|localized_value }}">
            {% endif %}
        </picture>
    </a>
</div>
