{% set item = record.getRootEntity() %}
{% set title = item.node.titles|localized_value %}
{% set link = app.request.uriForPath(item.node.localizedUrls|localized_value) %}

<div class="resource-library-post">
    <div class="resource-library-post__head">
        <h3 class="resource-library-article__title">
            <a href="{{ link }}" title="{{ title }}">
                {{ title }}
            </a>
        </h3>
        <time class="resource-library-article__time" datetime="{{ item.newsAnnouncementsArticle.createdAt|date("Y-m-d\\TH:i:s") }}">
            {{- item.newsAnnouncementsArticle.createdAt|oro_format_time() }}
            | {{ item.newsAnnouncementsArticle.createdAt|oro_format_date({'dateType': 2}) -}}
        </time>
    </div>
    <div class="resource-library-post__content">
        <div class="resource-library-article__description cms-typography">
            {{ item.newsAnnouncementsArticle.shortDescription|oro_html_sanitize }}
        </div>
        <a href="{{ app.request.uriForPath(item.node.localizedUrls|localized_value) }}" class="resource-library-article__goto">
            {{- 'oro.resourcelibrary.newsannouncementsarticle.read_more'|trans -}}
        </a>
    </div>
    <a class="resource-library-post__image" href="{{ link }}">
        {% if item.newsAnnouncementsArticle.image is not empty %}
            {% set sources = oro_filtered_picture_sources(item.newsAnnouncementsArticle.image, 'news_announcements_lists_small', { media: '(max-width: 414px)' }) %}
            {% set sources = sources|merge(oro_filtered_picture_sources(item.newsAnnouncementsArticle.image, 'news_announcements_lists_middle', { media: '(max-width: 767px)' })) %}
            {% set sources = sources|merge(oro_filtered_picture_sources(item.newsAnnouncementsArticle.image, 'news_announcements_lists')) %}

            {% set img_attrs = { alt: oro_file_title(item.newsAnnouncementsArticle.image) } %}
        {% else %}
            {% set img_attrs = {
                src: asset('bundles/ororesourcelibrary/images/no_image.png'),
                alt: item.node.titles|localized_value
            } %}
        {% endif %}
        {% include '@OroAttachment/Twig/picture.html.twig' with {
            sources: sources|default([]),
            img_attrs: img_attrs|merge({
                class: 'resource-library-post__img',
                loading: 'lazy'
            }),
            picture_attrs: {
                class: 'resource-library-post__picture',
                'data-object-fit': ''
            }
        } %}
    </a>
</div>
