{% block _safety_specifications_page_widget %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _safety_specifications_page_description_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' resource-library__description'
    }) %}

    <div {{ block('block_attributes') }}>
        {{- block_widget(block)|oro_html_sanitize -}}
    </div>
{% endblock %}

{% block _safety_specifications_page_title_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' resource-library__title'
    }) %}

    <h1 {{ block('block_attributes') }}>
        {{- block_widget(block) -}}
    </h1>
{% endblock %}

{% block _safety_specifications_sections_widget %}
    <div {{ block('block_attributes') }}>
        {% for section in sections %}
            {% if section.resolvedContentVariant.type == constant('Oro\\Bundle\\ResourceLibraryBundle\\ContentVariantType\\SafetySpecificationSectionContentVariantType::TYPE') %}
                {% do block|merge_context({section: section}) %}
                {{ block('container_widget') }}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block _safety_specifications_section_title_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' resource-library__section-title'
    }) %}

    <h2 {{ block('block_attributes') }}>
        <span>
            {{- section.titles|localized_value|e -}}
        </span>
    </h2>
{% endblock %}

{% block _safety_specifications_files_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' resource-library-specifications'
    }) %}

    <div {{ block('block_attributes') }}>
        {% for fileSection in section.getChildNodes %}
            {% if fileSection.resolvedContentVariant.type == constant('Oro\\Bundle\\ResourceLibraryBundle\\ContentVariantType\\SafetySpecificationFileContentVariantType::TYPE') %}
                {% do block|merge_context({fileSection: fileSection}) %}
                <div class="resource-library-specifications__item">
                    {{ block('container_widget') }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block _safety_specifications_file_title_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' resource-library-specifications__title'
    }) %}
    <h3 {{ block('block_attributes') }}>
        {{ fileSection.titles|localized_value|e }}
    </h3>
{% endblock %}

{% block _safety_specifications_file_short_description_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' resource-library-specifications__description'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ fileSection.resolvedContentVariant.description|oro_html_sanitize }}
    </div>
{% endblock %}

{% block _safety_specifications_file_widget %}
    {% set attr = layout_attr_defaults(attr, {
        href: file_url(
            fileSection.resolvedContentVariant.pdf_file,
            constant('Oro\\Bundle\\AttachmentBundle\\Provider\\FileUrlProviderInterface::FILE_ACTION_DOWNLOAD')
        ),
        title: 'oro.resourcelibrary.btn.download_pdf.label'|trans
    }) %}

    <div class="resource-library-specifications__filename">
        <a {{ block('block_attributes') }}>
            <span class="{{ oro_attachment_icon(fileSection.resolvedContentVariant.pdf_file) }}" aria-hidden="true"></span>
            {{- 'oro.resourcelibrary.btn.download_pdf.label'|trans -}}
        </a>
    </div>
{% endblock %}
