{% block _media_kit_list_title_widget %}
    <h1 {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </h1>
{% endblock %}

{% block _media_kit_list_description_widget %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block)|oro_html_sanitize }}
    </div>
{% endblock %}

{% block _media_kit_list_items_widget %}
    <div {{ block('block_attributes') }}>
        {% for item in items if item.resolvedContentVariant.type == constant('Oro\\Bundle\\ResourceLibraryBundle\\ContentVariantType\\MediaKitListItemContentVariantType::TYPE') %}
            {% do block|merge_context({item: item}) %}
            {{ block('container_widget') }}
        {% endfor %}
    </div>
{% endblock %}

{% block _media_kit_list_item_widget %}
    <div {{ block('block_attributes') }}>
        {{ block('container_widget') }}
    </div>
{% endblock %}

{% block _media_kit_list_item_banner_widget %}
    {% set attr = layout_attr_defaults(attr, {src: resized_image_url(item.resolvedContentVariant.media_kit.banner, attr.width, attr.height)}) %}

    <img {{ block('block_attributes') }}/>
{% endblock %}

{% block _media_kit_list_item_title_widget %}
    <div {{ block('block_attributes') }}>
        {{ item.titles|localized_value }}
    </div>
{% endblock %}

{% block _media_kit_list_item_description_widget %}
    <div {{ block('block_attributes') }}>
        {{ item.resolvedContentVariant.media_kit.description|oro_html_sanitize }}
    </div>
{% endblock %}

{% block _media_kit_list_item_link_widget %}
    {% set attr = layout_attr_defaults(attr, {href: item.resolvedContentVariant.media_kit.link}) %}

    <a {{ block('block_attributes') }}>
        {{ 'oro.resourcelibrary.mediakit.visit_website.label'|trans }}
    </a>
{% endblock %}

{% block _media_kit_list_item_files_widget %}
    <div {{ block('block_attributes') }}>
        {{ block('container_widget') }}
    </div>
{% endblock %}

{% block _media_kit_list_item_media_kit_file_widget %}
    {% if item.resolvedContentVariant.media_kit.mediaKitFile is defined
        and item.resolvedContentVariant.media_kit.mediaKitFile is not empty %}
        {% set attr = layout_attr_defaults(attr, {
            href: file_url(
                item.resolvedContentVariant.media_kit.mediaKitFile,
                constant('Oro\\Bundle\\AttachmentBundle\\Provider\\FileUrlProviderInterface::FILE_ACTION_DOWNLOAD')
            )
        }) %}
    {% endif %}

    <a {{ block('block_attributes') }}>
        {{ 'oro.resourcelibrary.mediakit.download_media_kit.label'|trans }}
    </a>
{% endblock %}

{% block _media_kit_list_item_logo_package_file_widget %}
    {% if item.resolvedContentVariant.media_kit.logoPackageFile is defined
        and item.resolvedContentVariant.media_kit.logoPackageFile is not empty %}
        {% set attr = layout_attr_defaults(attr, {
            href: file_url(
                item.resolvedContentVariant.media_kit.logoPackageFile,
                constant('Oro\\Bundle\\AttachmentBundle\\Provider\\FileUrlProviderInterface::FILE_ACTION_DOWNLOAD')
            )
        }) %}
    {% endif %}

    <a {{ block('block_attributes') }}>
        {{ 'oro.resourcelibrary.mediakit.download_logo_package.label'|trans }}
    </a>
{% endblock %}
