{% block resource_library_widget %}
    {{ form_row(form.description) }}
{% endblock %}

{% block literature_application_note_widget %}
    {{ form_row(form.description) }}
{% endblock %}

{% block literature_application_note_file_collection_widget %}
    {{ form_row(form.literature_note_files) }}
{% endblock %}

{% block literature_application_note_files_widget %}
    {% import _self as fields %}

    <div class="control-group">
        <div>
            {% spaceless %}
                {% if prototype is defined %}
                    {% set prototype_html = fields.oro_collection_item_prototype(form) %}
                {% endif %}
                {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'oro-item-collection collection-fields-list' }) %}
                {% set id = id ~ '_collection' %}
                <div class="row-oro">
                    {% set prototype_name = form.vars.prototype_name %}
                    <div class="grid-scrollable-container">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{{ 'oro.attachment.file.entity_label'|trans }}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody {{ block('widget_container_attributes') }} data-last-index="{{ form.children|length}}" data-row-count-add="{{ form.vars.row_count_add }}" data-prototype-name="{{ prototype_name }}"{% if prototype_html is defined %} data-prototype="{{ prototype_html|escape }}"{% endif %}>
                            {% if form.children|length %}
                                {% for child in form.children %}
                                    {{ fields.oro_collection_item_prototype(child) }}
                                {% endfor %}
                            {% elseif show_form_when_empty and prototype_html is defined %}
                                {% for i in 0..(form.vars.row_count_initial - 1) %}
                                    {{ prototype_html|replace({(prototype_name): i})|raw }}
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    {% if allow_add %}
                        <a class="btn add-list-item" href="#">{{ form.vars.add_label|default('oro.form.collection.add')|trans }}</a>
                    {% endif %}
                </div>
            {% endspaceless %}
        </div>
    </div>
{% endblock %}

{% macro oro_collection_item_prototype(widget) %}
    {% if 'collection' in widget.vars.block_prefixes %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.prototype.vars.name %}
        {% set disabled = widget.vars.disabled %}
        {% set allow_delete = widget.vars.allow_delete %}
        {% set allow_add_after = widget.vars.allow_add_after %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
        {% set disabled = widget.parent.vars.disabled %}
        {% set allow_delete = widget.parent.vars.allow_delete %}
        {% set allow_add_after = widget.parent.vars.allow_add_after %}
        {% if widget.vars.allow_delete is defined %}
            {% set allow_delete = allow_delete and widget.vars.allow_delete %}
        {% endif %}
    {% endif %}
    {{ form_widget(form, {disabled: disabled}) }}
{% endmacro %}

{% block literature_application_note_file_widget %}
    {% set name = form.vars.full_name %}
    {% spaceless %}
        <tr data-content="{{ name }}" data-validation-optional-group class="grid-row">
            <td>{{ form_widget(form.file) }}</td>
            {% if form.parent.vars.allow_delete %}
                <td class="action-cell">
                    <button class="removeRow btn btn-icon btn-square-lighter" type="button" data-related="{{ name }}" aria-label="{{ 'Remove row'|trans }}">
                        <span class="fa-trash-o" aria-hidden="true"></span>
                    </button>
                </td>
            {% endif %}
        </tr>
    {% endspaceless %}
{% endblock %}

{% block safety_specification_page_widget %}
    {{ form_row(form.description) }}
{% endblock %}

{% block safety_specification_section_widget %}
{% endblock %}

{% block safety_specification_file_widget %}
    {{ form_row(form.description) }}
    {{ form_row(form.pdf_file) }}
{% endblock %}

{% block video_list_widget %}
    {{ form_row(form.description) }}
{% endblock %}

{% block video_list_section_widget %}
{% endblock %}

{% block video_list_section_item_widget %}
    {{ form_row(form.video) }}
{% endblock %}

{% block media_kit_list_widget %}
    {{ form_row(form.description) }}
{% endblock %}

{% block media_kit_list_item_widget %}
    {{ form_widget(form.mediaKit) }}
    {{ form_errors(form.mediaKit) }}
{% endblock %}

{% block media_kit_widget %}
    {{ form_row(form.banner) }}
    {{ form_row(form.description) }}
    {{ form_row(form.link) }}
    {{ form_row(form.media_kit_file) }}
    {{ form_row(form.logo_package_file) }}
{% endblock %}

{% block oro_news_announcements_widget %}
    {{ form_row(form.description) }}
{% endblock %}

{% block oro_news_announcements_article_widget %}
    {{ form_row(form.news_announcements_article.image) }}
    {{ form_row(form.news_announcements_article.description) }}
    {{ form_row(form.news_announcements_article.short_description) }}
{% endblock %}
